h3,
.h3 {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: $primary-white;

    @include max(xs) {
        font-size: 23px;
    }

    @include max(475) {
        font-size: 15px;
    }
}

h5,
.h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: $primary-white;

    @include max(xs) {
        font-size: 12px;
    }
}

h6,
.h6 {
    @extend .h5;
    font-size: 14px;

    @include max(xs) {
        font-size: 10px;
    }
}


p,
.p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.7;
    color: $primary-white;

    @include max(xs) {
        font-size: 12px;
        line-height: 100%;
    }

    @include max(475) {
        font-size: 9px;
    }
}

.p1 {
    @extend .p;
    opacity: 1;
}
