
  $breakpoints-max: (
    xs: 767,
    sm: 1023,
    md: 1279,
    bg: 1439,
    lg: 1919,
  );
  
  $primary-background: #12131E;
  $form-background: #1B1D31;
  $primary-white: #ffffff;
  $primary-black: #000000;

  
  